{% extends 'master.html' %}
{% block content %}
<div class='container'>
    <div class='form-group'>
        <h1>
            Listado de persona inscriptas
            <a href="{% url 'create_person'%}" class='btn btn-info' style='float: right;'> Registrar persona</a>
        </h1>
    </div>
    <table class='table'>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de nacimiento</th>
                <th>Imagen</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
          {% for person in persons %}
            <tr>
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>
                <td>{{person.birthday|date:'j/n/Y'}}</td>
                <td>
                {% if person.images.exists %}
                    {% include 'modal_img.html' with images=person.images modal_id=person.pk %}
                {% else %}
                    <button class='btn btn-danger' disabled>No tiene imagenes</button>
                {% endif %}
                </td>
                <td>
                    <a class='btn btn-info' href="{% url 'update_person' pk=person.pk %}">Editar</a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}